body{
    background-color: rgb(44, 43, 43);
}
.bg-primary{
    background-color: black! important;
}
.col-md-4{
    margin-top: 20px;
    padding-top: 10px;
    border-collapse: separate;
    border-spacing: 15px;
}
.container_project1{
    display: flex !important;
    flex-flow: row wrap !important;
}

.card{
    height: 45rem !important;
}
